$app-bg: #565A5C;
$title-height: 30px;
$markdown-title-color: #aaa;
$preview-title-color: #ddd;
$title-size: 16px;
$inside-bg: #fff;
$preview-padding: 15px;
$markdown-padding-left: 10px;
$line-color: #ddd;


body {
  margin: 0;
  padding: 0;
  font-family: 'Cousine', monospace;
  background: $app-bg;
}

#markdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: #aaa;
}

#title {
  text-align: center;
  border-bottom: 1px solid $line-color;
  font-size: $title-size;
  color: $markdown-title-color;
  line-height: $title-height;
  height: $title-height;
  background: $inside-bg;
}

#editor {
  flex: 1;
  resize: none;
  padding: 0.8em;
  border: none;
  outline: none;
}

#preview-title {
  text-align: center;
  background: $app-bg;
  position: fixed;
  padding-left: 10px;
  font-size: $title-size;
  color: $preview-title-color;
  height: $title-height;
  line-height: $title-height;
  left: 50%;
  right: 0%;
}

#preview {
  border-radius: 5px;
  outline: none;
  border: 0;
  padding: 0.8em;
  resize: none;
  min-height: 1000px;
  box-sizing: border-box;
  margin: $preview-padding;
  margin-top: $title-height + $preview-padding;
  margin-left: calc(50% + #{$preview-padding});
  width: calc(50% - 2*#{$preview-padding});
}